# ==========================
# Python
# ==========================
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ==========================
# Database Files
# ==========================
*.db
*.sqlite3

# ==========================
# Environment Variables
# ==========================
.env
backend/.env

# ==========================
# Model Weights (Very Important)
# ==========================
*.pt

# ==========================
# Uploads / Runtime Files
# ==========================
uploads/
backend/uploads/

# ==========================
# Node / Frontend
# ==========================
node_modules/
dist/
frontend/node_modules/
frontend/dist/

# ==========================
# OS / System
# ==========================
.DS_Store
Thumbs.db